// desktop and tablet text style variables 

    // read it as   $h-f-size as ====> header-font-size 
    //              $h-l-height as ==> header-line-height


    //page header
        $h-f-size: 1.5rem;          //f-weight: 700;
        $h-l-height: 2rem;
        

    //section header
        $sh-f-size: 1.5rem;         //f-weight: 700;
        $sh-l-height: 2rem;
        

    //subheader h4
        $s-f-size: .875rem;         //f-weight: 600;
        $s-l-height: 1.375rem;
        

    //body 
        $b-f-size: 0.813rem;        //f-weight: 400;
        $b-l-height: 1.125rem;
        

    //footer
        $f-f-size: 0.813rem;        //f-weight: 400;
        $f-l-height: 1.125rem;
        

    //labels and Buttons
        $lb-f-size: 0.625rem;       //f-weight: 700;
        $lb-l-height: 1.25rem;
        